<h1>{{ user.username }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <h3>First Name</h3>
    <p>{{ user.first_name }}</p>

    <h3>Last Name</h3>
    <p>{{ user.last_name }}</p>

    <h3>Email</h3>
    <p>{{ user.email }}</p>

    <h3>Phone Number</h3>
    <p>{{ user.phone }}</p>

<h3><u>Following are all the tweets the user have posted:</u></h3>
{% for tweet in user.tweet_set.all %}
    <ul>
        <li><strong>{{ tweet.text }}&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="{% url 'tweets:like' user_id user.id tweet.id 'profile'%}">Like</a>
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="{% url 'tweets:show_likes' user.id tweet.id %}">Show All Likes</a>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="{% url 'tweets:comment_form' user_id user.id tweet.id 'profile'%}">Comment</a>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="{% url 'tweets:show_comments' user.id tweet.id %}">Show All Comments</a></strong></li>
    </ul>
{% endfor %}

