{% block content %}
  <h2>Sign up</h2>
  <form action="{% url 'authentication:save' %}" method="post">
    {% csrf_token %}
    <p>Enter username
        <input type="text" name="username">
    </p>
      <p>First Name
        <input type="text" name="f_name" >
    </p>
    <p>Last Name
        <input type="text" name="l_name">
    </p>
    <p>Enter email
        <input type="text" name="email">
    </p>
    <p>Enter password
        <input type="password" name="pass">
    </p>
    <p>Phone Number
        <input type="number" name="no">
    </p>
        <input type="submit" value="Sign Up">
  </form>
{% endblock %}